* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: grey;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 42px;
}

.underlining {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 40px;
  background: white;
  color: grey;
  position: fixed;
  width: 100%;
}

#burger,
[for="burger"] {
  display: none;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav a:hover {
  color: green;
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: row;
  }
  [for="burger"] {
    display: block;
    /* margin-top: 10px; */
  }
  [for="burger"]::before {
    content: "☰";
    font-size: 20px;
  }
  .logo {
    width: 47%;
  }
  nav {
    display: none;
    width: 47%;
    user-select: none;
    padding: 10px 20px;
  }
  nav ul {
    flex-direction: column;
  }
  #burger:checked + label + nav {
    display: block;
  }
  #burger:checked + [for="burger"]::before {
    content: "⮾";
  }
}


.main {
  margin: 40px;
  max-width: 100vw;
}

.main__section1 {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 32% 64%;
}

.main__section1_left {
  max-height: 100%;
  display: grid;
  justify-content: center; /* Выравнивание по вертикали по центру */
  align-items: center; /* Выравнивание по горизонтали влево */
}

.main__section1_right {
  background-image: url("/assets/Images/Img_main/section1.png");
  background-size: cover;
  max-height: 100%;
  padding-bottom: 100%;
}

.main__text {
  font-family: Roboto;
}

h1 {
  color: var(--Gray-4, #bdbdbd);
  font-size: 3em;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  text-align: left; /* Выравнивание текста влево */
}

h2 {
  color: var(--Gray-1, #333);
  font-size: 2.5em;
  font-style: normal;
  margin: 0;
  text-align: left; /* Выравнивание текста влево */
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 1.5em;
    text-align: center; /* Выравнивание по центру на более узких экранах */
  }
}
