/* MARIA */

* {
  box-sizing: border-box;
}

/* body */

body {
  /* margin: 0; */
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: grey;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 6vw;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4vw;
  background: white;
  color: grey;
  /* position: fixed; */
  width: 100%;
}

#burger,
[for="burger"] {
  display: none;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--gray-1, #333);
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.header__container nav a:hover {
  color: grey;
  position: relative;
}

.header__container nav a:hover::before,
.header__container nav a:hover::after {
  content: ""; /* Добавляем пустое содержимое для псевдоэлементов */
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  left: 0; /* Выравниваем слева */
  right: 0; /* Выравниваем справа */
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет линии */
}

.header__container nav a:hover::before {
  top: 0; /* Линия сверху */
}

.header__container nav a:hover::after {
  bottom: 0; /* Линия снизу */
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: row;
  }
  [for="burger"] {
    display: block;
    /* margin-top: 10px; */
  }
  [for="burger"]::before {
    content: "☰";
    font-size: 20px;
  }
  .logo {
    width: 47%;
  }
  nav {
    display: none;
    width: 47%;
    user-select: none;
    padding: 10px 20px;
  }
  nav ul {
    flex-direction: column;
  }
  #burger:checked + label + nav {
    display: block;
  }
  #burger:checked + [for="burger"]::before {
    content: "⮾";
  }
}
@media screen and (min-width: 2000px) {
  .header__container nav a {
    font-size: 3em;
  }
}
/* end of header */

/* EKATERINA */

/* Main */

.main {
  margin: 0;
  max-width: 100vw;
}

/* section1 Project Lorem start */

.section1 {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 32% 64%;
  justify-items: center; /* Выравнивание по вертикали по центру */
  align-items: center; /* Выравнивание по горизонтали влево */
  position: relative;
}

.section1 img {
  max-width: 100%;
  height: auto;
}

.section1_left {
  max-height: 100%;
  /* display: grid; */
}

/* .main__section1_right { */
/* background-image: url("./Images/Img_main/section1.png"); */
/* background-size: cover; */
/* max-height: 100%;
  padding-bottom: 100%;
}
   */
.section1_right_side {
  position: relative;
}
.section1_right {
  max-width: 100%;
  height: auto;
}

.section1_right_side > .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  /* padding: 10px; */
}
.section1_first-title {
  font-family: Roboto;
  text-align: left; /* Выравнивание текста влево */
}

h1 {
  opacity: 0;
}

h2 {
  color: var(--Gray-4, #bdbdbd);
  font-size: 64px;
  /* font-size: 3em; */
  font-style: normal;
  font-weight: 300;
  /* line-height: 64px; */
}
.section1_first-title_first-word {
  margin: 0;
}

.bold-title {
  color: var(--Gray-1, #333);
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  text-align: left; /* Выравнивание текста влево */
}

@media screen and (max-width: 768px) {
  h2 .bold-title {
    font-size: 1.5em;
    text-align: center; /* Выравниванием заголовок по центру на более узких экранах */
  }

  .section1_first-title {
    margin: 20px;
  }

  .section1 {
    grid-template-columns: 1fr; /* Изменяем на одну колонку */
    grid-template-rows: auto; /* Автоматические строки, чтобы заголовки и картинка могли занимать нужное пространство */
  }
  .section1_right {
    max-width: 50%; /* Уменьшаем максимальную ширину картинки до 50% ширины родительского элемента */
  }
}

/* end of section1 Project Lorem*/

/*Button*/
.button-container {
  display: flex;
  justify-content: flex-start;
  height: 71px;
  width: 222px;
  border: none;
  /* padding: 10px, 20px; */
  cursor: pointer;
}
.white__button {
  border: none;
  color: rgba(51, 51, 51, 1);
  background-color: #fff;
  /* padding: 10px, 20px;
  cursor: pointer; */
  /* margin: 10px; */
}

.black__button {
  border: none;
  background-color: rgba(51, 51, 51, 1);
  color: #fff;
  /* padding: 10px, 20px;
  cursor: pointer; */
  /* margin: 10px; */
}

.button-container button {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
}

/* MARIA */

/* section2 About start */

.about {
  display: grid;
  background-color: rgba(251, 251, 251, 1);
  grid-template-columns: 60% 38%;
  max-width: 100vw;
  padding: 40px 40px 10px;
  margin-top: 120px;
  justify-items: stretch;
}

@media screen and (max-width: 768px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px 10px;
  }
}

.about__img-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 10px;
  justify-items: stretch;
}
.about__img-left__img1 {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__img-left__img2 {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__img-left__img3 {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about__img-left {
    grid-template-columns: 1fr; /* Одна колонка */
    grid-auto-flow: row; /* Элементы будут размещаться по вертикали */
    align-items: stretch; /* Выравнивание элементов по вертикали */
    grid-gap: 10px; /* Отступы между элементами */
  }

  .about__img-left__img1,
  .about__img-left__img2,
  .about__img-left__img3 {
    grid-row: auto; /* Очищаем явно заданные строки */
    grid-column: auto; /* Очищаем явно заданные столбцы */
    width: 100%;
    height: auto; /* Сохраняем пропорции картинок */
    object-fit: contain; /* Заполняем контейнер, сохраняя пропорции */
  }
}

.about__text-right {
  padding: 50px 100px;
}

@media screen and (max-width: 768px) {
  .about__text-right {
    padding: 10px 15px;
  }
}

/* .about__text-right h2 {
  color: var(--gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
} */
/* end of section2 About */

/* EKATERINA */

/* section3 Main Focus start */


.section3 {
  /* Устанавливаем отступ сверху, равный 5% от ширины родительского контейнера */
  margin-top: 5%;
  /* Устанавливаем отступ слева */
  margin-left: 10%;
  /* Устанавливаем отступ справа */
  margin-right: 9%;
  max-width: 100%;
}


.section3__title {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 9%;
}

.section3__container {
  /* Располагаем элементы внутри контейнера в строку */
  display: flex;
  /* Разрешаем перенос элементов на новую строку, если не хватает места */
  flex-wrap: wrap;
  /* Равномерно распределяем свободное пространство между элементами */
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 9%;
}

.section3__item1,
.section3__item2 {
  /* Распределяем доступное горизонтальное пространство между .section3__item1 и .section3__item2 */
  flex: 1;
  /* Отображаем элементы как гибкие блоки в строку */
  display: flex;
  /* Выравниваем элементы по верхнему краю */
  align-items: flex-start;
  /* Устанавливаем отступ между элементами в 1% от ширины родительского контейнера */
  margin-right: 1%;
  /* Устанавливаем максимальную ширину элемента, которая вычисляется как 50% от ширины родительского контейнера минус 93.5px */
  max-width: calc(50% - 93.5px);
  /* Учитываем padding и border в размере элемента */
  box-sizing: border-box;
}

.section3__one,
.section3__two {
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto;
  font-size: 13em;
  font-style: normal;
  font-weight: 900;
  /* Задаем высоту строки, оставляем по умолчанию (normal) */
  line-height: normal;
  /* Устанавливаем отступ справа для текста в 10px */
  margin-right: 10px;
}

.section3__text_one {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: start;
  padding-right: 6em;
  padding-top: 10px;
}

.section3__text_two {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: start;
  padding-right: 4em;
  padding-top: 10px;
}

/* Медиа-запрос для экранов шириной меньше или равной 768px */
@media screen and (max-width: 768px) {
  /* Устанавливаем элементам .section3__item1 и .section3__item2 следующие стили: */
  .section3__item1,
  .section3__item2 {
    /* Распределение по ширине в соответствии с экраном */
    flex: 1 0 100%;
    /* Убираем горизонтальный отступ */
    margin-right: 0;
    /* Максимальная ширина элемента на мобильных устройствах (занимают всю доступную ширину) */
    max-width: 100%;
    /* Добавляем вертикальный отступ между элементами на мобильных устройствах */
    margin-bottom: 20px;
  }
}

/* Медиа-запрос для экранов шириной больше или равной 2000px */
@media screen and (min-width: 2000px) {
  /* Устанавливаем элементам .section3__item1, .section3__item2 и .section3__text следующие стили: */
  .section3__item1,
  .section3__item2,
  .section3__text {
    /* Увеличиваем размер шрифта в 2 раза */
    font-size: 2em;
  }
}


/* the end of section3 */

/* DIANA */

/* section4 Our Projects start */

.img {
  max-width: 1170px;
  min-height: 600px;

  margin-top: 30px;
  margin-left: 10%;
  margin-right: 2.5%;
}

div.img_firstline {
  min-width: 1170px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}

/* .tittle {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
/* margin-top: 5%;
  margin-bottom: 5%;
} */
.img_first {
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 2.5%;
}
.img_first img {
  position: relative;
  z-index: -1;
  /* margin-right: 30px; */
}
.img_first p {
  width: 40%;
  z-index: 1;
  position: absolute;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 45%;
  color: #fff;
  font-family: Roboto;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 4rem; */
  text-transform: uppercase;
  overflow-wrap: break-word;
}
.img_first button {
  position: absolute;
  z-index: 1;
  width: 15%;
  margin-top: 15%;
  margin-left: 4%;
}

.img_secondline {
  min-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
  margin-right: 2.5%;
}
/* .button {
  max-width: 1170px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.button button {
  width: 20%;
  height: 70px;
  background: #333;
} */
.black__button__position {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.black__button__position > .button-container {
  justify-content: flex-end;
}

.black__button__position > .button-container button {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  section.img {
    margin-left: 30px;
    display: block;
    overflow: hidden;
  }
  .img_firstline {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    flex-wrap: wrap;
  }
  .img_first {
    max-width: 100%;
  }
  .img_first p {
    font-size: 3rem;
    overflow-wrap: break-word;
  }
  .img_first_button {
    margin-top: 35%;
    margin-left: 2%;
  }
  .img_second {
    display: none;
  }

  .img_secondline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
  }
  /* .button {
    justify-content: flex-start;
  }
  .button button {
    height: 25px;
  } */
}
@media (min-width: 320px) and (max-width: 767px) {
  section.img {
    margin-left: 10px;
    display: block;
    overflow: hidden;
  }
  .img_firstline {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    flex-wrap: wrap;
  }
  .img_first {
    max-width: 100%;
  }
  .img_first p {
    font-size: 2rem;
    overflow-wrap: normal;
  }
  .img_first button {
    margin-top: 20%;
  }
  .img_second {
    display: none;
  }

  .img_secondline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
  }
  /* .button {
    justify-content: flex-start;
  }
  .button button {
    height: 25px;
  } */
  .tittle {
    font-size: 2rem;
  }
  .img_first p {
    font-size: 2rem;
  }
  .img_secondline_imgone {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .img_firstline {
    position: relative;
    width: 100%;
  }
  .img_first button {
    margin-top: 20%;
  }
}
/* the end of section4 Our Projects */

/* section5 Contact Us start */

.contact {
  max-width: 1100px;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 9%;
  margin-right: 9%;
}

textarea {
  resize: none;
  width: 100%;
  max-width: 482px;
  min-height: 85px;
  font-size: 17px;
  overflow: hidden;
  line-height: 1.3;
  font-family: "Sen", sans-serif;
}

.contact__group {
  width: 32%;
  margin-top: 0;
}
.contact__form {
  box-sizing: border-box;
  border: transparent;

  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid red; */
}

.contact__form input,
.contact__form textarea {
  margin-left: 10px;
  margin-bottom: 2%;
  border: none;
  background: #f3f3f3;
  height: 45px;
  width: 100%;
  color: #8d8d8d;
}
.contact__form input:hover,
.contact__form textarea:hover {
  border: 1px solid rgb(172, 188, 240);
}
input:focus,
textarea:focus {
  outline: rgb(187, 190, 199);
  border: 1px solid rgb(202, 205, 212);
}

.contact__tittle {
  color: #bdbdbd;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

span {
  content: "*";
  color: red;
}
input {
  color: #8d8d8d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
}
.tel_text {
  z-index: 100;
  position: absolute;
  cursor: text;
  top: 4px;
  display: none;
  color: #8d8d8d;
  left: 10px;
}
.tel_text:focus {
  z-index: -10;
}
.tel {
  position: relative;
  overflow: hidden;
}
.tel input:invalid + .tel_text {
  display: inline;
}
input text::placeholder {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: normal;
  color: #8d8d8d;
}
/* .email_text {
  z-index: 100;
  position: absolute;
  cursor: text;
  top: 4px;

  color: #8d8d8d;
  left: 8px;
}

.email {
  position: relative;
  overflow: hidden;
}
.email input:invalid + .email_text {
  display: inline;
} */
.contact__img {
  width: 48%;
  position: relative;
}

.contact__img img {
  width: 100%;
  margin: 35% 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .contact__img {
    display: none;
  }
  input {
    display: inline-block;
    min-width: 60vw;
  }
  textarea {
    min-width: 60vw;
  }
  h2.contact__tittle {
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
    margin-left: 12px;
  }
}
@media screen and (min-width: 769px) {
  h2.contact__tittle {
    display: block;
    white-space: nowrap;
    margin-left: 12px;
  }
}

/* the end of section5 Contact Us */

/* SVETLANA */

/* Footer start*/
footer {
  background-color: rgba(44, 44, 44, 1);
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 20px;
}

.logo__footer img {
  margin-right: 120px;
  width: 94px;
}

.information,
.contacts,
.social-media {
  flex: 1;
  margin: 0 20px;
  flex-direction: column;
  justify-content: flex-end;
}

.information h3,
.contacts h3,
.social-media h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

footer div ul {
  list-style: none;
  padding: 0;
}

footer div ul li {
  margin-bottom: 10px;
}

footer div ul li a {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  color: #fff;
}
.contacts p a {
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}
.contacts p .icon {
  width: 11px;
  height: 16px;
}
.contacts p .icon_phone {
  width: 16px;
  height: 15px;
  margin-right: 5px;
}
.contacts p .icon_mail {
  width: 16px;
  height: 11px;
  margin-right: 5px;
}
.contacts p {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  color: #fff;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 100px;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.social-media__img1 {
  width: 10px;
  height: 19px;
}
.social-media__img2 {
  width: 22px;
  height: 17px;
}
.social-media__img3 {
  width: 20px;
  height: 20px;
}
.social-media__img2 {
  width: 14px;
  height: 19px;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
/*Footer end*/

/* EKATERINA */

/* Gallery */

.root {
  padding-left: 135px;
}

.main__gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  max-width: 100%;
  /* max-height: 610px; */
  /* margin-right: 135px;
  margin-bottom: 10%; */
  row-gap: 35px;
  column-gap: 35px;
}

.main__gallery img {
  /* width: 210px;
  height: 260px; */
  object-fit: cover;
  margin: 5px;
  

}

.main__gallery img:hover {
  transform: scale(1.1);
}
