* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: grey;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 42px;
}

.underlining {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 40px;
  background: white;
  color: grey;
  position: fixed;
  width: 100%;
}

#burger,
[for="burger"] {
  display: none;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav a:hover {
  color: green;
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: row;
  }
  [for="burger"] {
    display: block;
    /* margin-top: 10px; */
  }
  [for="burger"]::before {
    content: "☰";
    font-size: 20px;
  }
  .logo {
    width: 47%;
  }
  nav {
    display: none;
    width: 47%;
    user-select: none;
    padding: 10px 20px;
  }
  nav ul {
    flex-direction: column;
  }
  #burger:checked + label + nav {
    display: block;
  }
  #burger:checked + [for="burger"]::before {
    content: "⮾";
  }
}

.main {
  margin: 40px;
  max-width: 100vw;
}

.main__section1 {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 32% 64%;
}

.main__section1_left {
  max-height: 100%;
  display: grid;
  justify-content: center; /* Выравнивание по вертикали по центру */
  align-items: center; /* Выравнивание по горизонтали влево */
}

.main__section1_right {
  background-image: url("./Images/Img_main/section1.png");
  background-size: cover;
  max-height: 100%;
  padding-bottom: 100%;
}

.main__text {
  font-family: Roboto;
}

h1 {
  color: var(--Gray-4, #bdbdbd);
  font-size: 3em;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  text-align: left; /* Выравнивание текста влево */
}

h2 {
  color: var(--Gray-1, #333);
  font-size: 2.5em;
  font-style: normal;
  margin: 0;
  text-align: left; /* Выравнивание текста влево */
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 1.5em;
    text-align: center; /* Выравнивание по центру на более узких экранах */
  }
}

.main__section3 {
  display: grid;
  grid-template-areas:
    "main__section3_title main__section3_title main__section3_title main__section3_title"
    "main__section3_one main__section3_article_one main__section3_two main__section3_article_two";
  grid-template-columns: 1fr 3fr 1fr 3fr;
}
.main__section3_title {
  display: grid;
  justify-content: start;
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}
.main__section3_one {
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
/* .main__section3_article_one {
} */
.main__section3_two {
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* .main__section3_article_two {
} */

.footer-container {
  background-color: #212329;
}
.footer {
  width: 80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px;
}

.footer-heading a {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}
.logo {
  width: 145px;
  height: 94px;
  margin-right: 80px;
}
.face {
  width: 10px;
  height: 19px;
  margin: 15px;
}
.twit {
  width: 22px;
  height: 17px;
  margin: 15px;
}
.link {
  width: 20px;
  height: 20px;
  margin: 15px;
}
.pint {
  width: 14px;
  height: 19px;
  margin: 15px;
}
.container-img {
  display: flex;
}
span {
  /* width: 93px;
  height: 20px; */
  margin-top: 15px;
}
.loca {
  margin-right: 30px;
}
/* Диана секция контакт начало */
.contact {
  max-width: 1100px;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 9%;
  margin-right: 9%;
}

textarea {
  resize: none;
  width: 100%;
  max-width: 482px;
  min-height: 85px;
  font-size: 17px;
  overflow: hidden;
  line-height: 1.3;
  font-family: "Sen", sans-serif;
}

.contact__group {
  width: 32%;
  margin-top: 0;
}
.contact__form {
  box-sizing: border-box;
  border: transparent;

  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid red; */
}

.contact__form input,
.contact__form textarea {
  margin-left: 10px;
  margin-bottom: 2%;
  border: none;
  background: #f3f3f3;
  height: 45px;
  width: 100%;
  color: #8d8d8d;
}
.contact__form input:hover,
.contact__form textarea:hover {
  border: 1px solid rgb(172, 188, 240);
}
input:focus,
textarea:focus {
  outline: rgb(187, 190, 199);
  border: 1px solid rgb(202, 205, 212);
}

.contact__tittle {
  color: #bdbdbd;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

span {
  content: "*";
  color: red;
}
input {
  color: #8d8d8d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
}
.tel_text {
  z-index: 100;
  position: absolute;
  cursor: text;
  top: 4px;
  display: none;
  color: #8d8d8d;
  left: 10px;
}
.tel_text:focus {
  z-index: -10;
}
.tel {
  position: relative;
  overflow: hidden;
}
.tel input:invalid + .tel_text {
  display: inline;
}
input text::placeholder {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: normal;
  color: #8d8d8d;
}
/* .email_text {
  z-index: 100;
  position: absolute;
  cursor: text;
  top: 4px;

  color: #8d8d8d;
  left: 8px;
}

.email {
  position: relative;
  overflow: hidden;
}
.email input:invalid + .email_text {
  display: inline;
} */
.contact__img {
  width: 48%;
  position: relative;
}

.contact__img img {
  width: 100%;
  margin: 10% 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .contact__img {
    display: none;
  }
  input {
    display: inline-block;
    min-width: 60vw;
  }
  textarea {
    min-width: 60vw;
  }
  h2.contact__tittle {
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
    margin-left: 12px;
  }
}
@media screen and (min-width: 769px) {
  h2.contact__tittle {
    display: block;
    white-space: nowrap;
    margin-left: 12px;
  }
}

/* Диана контакт конец */
.img {
  margin-top: 5%;
  max-width: 1170px;
  min-height: 600px;

  margin-top: 5%;
  margin-left: 10%;
  margin-right: 9%;
}

div.img_firstline {
  max-width: 1170px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.tittle {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
  margin-top: 5%;
  margin-bottom: 5%;
}
.img_first {
  background-color: rgba(0, 0, 0, 0.6);
}
.img_first img {
  position: relative;
  z-index: -1;
}
.img_first p {
  width: 40%;
  z-index: 1;
  position: absolute;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 45%;
  color: #fff;
  font-family: Roboto;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 4rem; */
  text-transform: uppercase;
  overflow-wrap: break-word;
}
.img_first button {
  position: absolute;
  z-index: 1;
  width: 15%;
  margin-top: 15%;
  margin-left: 4%;
}

.img_secondline {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.button {
  max-width: 1170px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.button button {
  width: 20%;
  height: 70px;
  background: #333;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  section.img {
    margin-left: 10px;
    display: block;
    overflow: hidden;
  }
  .img_firstline {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    flex-wrap: wrap;
  }
  .img_first {
    max-width: 100%;
  }
  .img_first p {
    font-size: 3rem;
    overflow-wrap: break-word;
  }
  .img_first button {
    margin-top: 20%;
  }
  .img_second {
    display: none;
  }

  .img_secondline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
  }
  .button {
    justify-content: flex-start;
  }
  .button button {
    height: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  section.img {
    margin-left: 10px;
    display: block;
    overflow: hidden;
  }
  .img_firstline {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    flex-wrap: wrap;
  }
  .img_first {
    max-width: 100%;
  }
  .img_first p {
    font-size: 2rem;
    overflow-wrap: normal;
  }
  .img_first button {
    margin-top: 50%;
  }
  .img_second {
    display: none;
  }

  .img_secondline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
  }
  .button {
    justify-content: flex-start;
  }
  .button button {
    height: 25px;
  }
  .tittle {
    font-size: 2rem;
  }
  .img_first p {
    font-size: 2rem;
  }
  .img_secondline_imgone {
    width: 100%;
  }
}
@media (max-width: 801px) {
  .img_firstline {
    position: relative;
    width: 100%;
  }
  .img_first button {
    margin-top: 30%;
  }
}
/* Диана секция 4 конец */
